/* GRID BASICS - ARRANGE EACH OF THE ITEMS IN A GRID ============================== */

/* mobile first - first styles will give wrapper a width and center it */
.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;  
  display: grid;
  /* each column will take up a single fraction of those available; 1fr = each column will fill the whole width */
  grid-template-columns: 1fr;    
  /* default value; row heights will be determined purely by the content */
  grid-template-rows: auto;    
  /* column and row gutters */
  grid-gap: 20px;    
}





/* STYLING THE CARDS ============================== */

.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5x rgba(0,0,0,0.1);
  
  /* align contents of the card vertically */
  display: flex;
  flex-direction: column;
  
  /* the cards should fill the height of the parent (the grid item) */
  min-height: 100%;
  
  /* hover state */
  position: relative;
  top: 0;
  transition: all .1s ease-in;
}

/* on hover, lift the card slightly and make the shadow more pronounced */
.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}



/* TYPOGRAPHY ============================== */

.card article {
  padding: 20px; 
  /* align the author name at the bottom of the card, regardless of amount of content above it */
  /* this flex item (child of original flex container) should grow to take up all the available space */
  flex: 1;  
  
  /* declare the article is a flex container in its own right and again with vertical distribution; all flex items within the article item should be spread evenly along the axis with equal spacing between */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*typography */
.card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.card p {
  line-height: 1.4; 
  /* make p grow to fill available space */
  flex: 1;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}



/* THUMBNAILS ============================== */

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}



/* MEDIA QUERIES ============================== */

@media only screen and (min-width: 500px) {
   /* allows a possible 2 cards per row */
  .band {
    grid-template-columns: 1fr 1fr;  
  }
  /* Make the very first card (aka "featured card") 2 columns wide for anything other than the smallest viewports */
  /* Beyond 500px, the first item should begin on grid line 1 and span across 2 tracks. The rest of the grid items fall into place automatically. */
  .item-1 {
    grid-column: 1/ span 2; 
  }
}

@media only screen and (min-width: 850px) {
  .band {
    grid-template-columns: repeat(4, 1fr);   /* equal to grid-template-columns: 1fr 1fr 1fr 1fr; */ 
  }
}
